main {
  width: auto;
  height: 85%;

  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
  font-weight: bold;
}

.page {
  width: 100%;
  height: 100%;
  background-color: var(--main-grey);
  overflow-y: auto;
}

.page h1 {
  text-align: center;
  margin: 10px 0 10px 0;
}

.button-2-1 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);
  margin-bottom: 4px;
  width: 49%;
  height: 90%;
}

.button-2-2 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);
  margin-bottom: 4px;
  width: 49%;
  height: 45%;
}

button:hover, button:hover {
  background-color: var(--light-blue);
  color: var(--main-black);
}

button:active, button:active {
  background-color: var(--main-blue);
  color: var(--main-hover);
}

button, #color-select {
  border-radius: 4px;
  color: var(--main-grey);
  background-color: var(--dark-blue);
  border: none;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
}

.backButton {
  display: block;
  margin-bottom: 10px;
}

#shopping-button {
  position: relative;
  margin-top: 5px;
}

#shopping-button button {
  padding: 5px 31px 5px 5px;
}

#shopping-button button img {
  width: 37px;
}

#cart-amount {
  position: absolute;
  color: var(--main-grey);
  font-size: 21px;
  top: 14px;
  left: 48px;
  pointer-events: none;
}

.selected {
  display: block;
}

.hidden, #detail-list.hidden, #context-buttons.hidden {
  display: none;
}

/* Main View and Detail view */

.main-avatar {
  width: 20%;
  padding: 10px 40% 10px 40%;
}

.detail-avatar {
  width: 70%;
  margin: 10px 15% 10px 15%;
}

.detail-avatar.left {
  width: 35%;
  margin: 70px 5% 10px 0%;
  float: left;
}

.detail-avatar, .detail-avatar > * {
  pointer-events: none;
}

.top, .middle, .bottom {
  position: relative;
} 

.main-avatar .top:hover, .main-avatar .middle:hover, .main-avatar .bottom:hover {
  outline-style: dotted;
  cursor: pointer;
} 

.main-avatar img, .detail-avatar img {
  width: 100%;
}

.clothing {
  position: absolute;
  left: 0;
}

.clothing-area {
  position: absolute;
  pointer-events: all;
}

.clothing-area:hover {
  outline-style: dotted;
  cursor: pointer;
}

.hat-area {
  width: 50%;
  height: 35%;
  top: 3px;
  left: 25%;
}

.scarf-area {
  width: 50%;
  height: 32%;
  top: 67%;
  left: 25%;
}

.earring-area {
  width: 8%;
  height: 18%;
  top: 46%;
  left: 59%;
}

.glasses-area {
  width: 32%;
  height: 14%;
  top: 37%;
  left: 28%;
}

.gloves-area {
  width: 70%;
  height: 22%;
  top: 56%;
  left: 17%;
}

.top-piece-area {
  width: 71%;
  height: 54%;
  top: 1%;
  left: 17%;
}

.bottom-piece-area {
  width: 71%;
  height: 74%;
  top: 1%;
  left: 17%;
}

.shoes-area {
  width: 75%;
  height: 24%;
  top: 75%;
  left: 15%;
}

#detail-list {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: var(--dark-blue);
  height: 70%;
  overflow-y: auto;
}

.list-element {
  width: 50%;
  padding: 30px 0 30px 0;
  order: 1;
}

.list-element img {
  display: block;
  margin: auto;
}

.list-element.activeItem {
  order: 0;
}

.list-element:hover img {

}

#context-buttons {
  display: flex;
  margin: 10px 0 0 40%;
}

#active-item-info {
  margin-right: 10px;
}

.list-element:hover {
  cursor: pointer;
}

.list-element:hover img {
  outline-style: dotted;
}

/* Shopping Cart */

#shopping-list {
  margin-left: 15%;
  margin-right: 15%;
  border-bottom-style: solid;
}

#shopping-overview {
  width: 25%;
  float: right;
  margin-left: 10px;
}

.shopping-item {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 4px;
  border-top-style: solid;
  justify-content: space-between;
}

.shopping-item > * {
  margin-right: 10px;
}

.shopping-image {
  width: 30%;
  min-width: 350px;
}

.thank-you {
  width: 100%;
  margin-top: 5%;
}

.shopping-price {

}

/* Navigation */

#navigation {
  display: flex;
  align-items: center;
}

#navigation p {
  color: var(--main-hover);
  font-weight: bolder;
  font-size: 30px;
}

#navigation button {
  margin-top: 5px;
  padding: 12px 10px 12px 10px;
  margin: 0 2px 0 2px;
}

#navigation > :last-child {
  font-weight: bold;
}