main {
  width: 100%;
  height: 85%;

  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
  font-weight: bold;
}

.page {
  width: 100%;
  height: 100%;
  background-color: var(--main-grey);
  overflow-y: auto;
}

.page h1 {
  text-align: center;
}

.button-2-1 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);

  width: 49%;
  height: 90%;
}

.button-2-2 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);

  width: 49%;
  height: 45%;
}

.backButton {
  display: block;
  margin-bottom: 10px;
}

.selected {
  display: block;
}

.hidden {
  display: none;
}

/* Main View and Detail view */

.main-avatar {
  width: 20%;
  padding: 10px 40% 10px 40%;
}

.detail-avatar {
  width: 70%;
  margin: 10px 15% 10px 15%;
}

.detail-avatar, .detail-avatar > * {
  pointer-events: none;
}

.top, .middle, .bottom {
  position: relative;
} 

.main-avatar .top:hover, .main-avatar .middle:hover, .main-avatar .bottom:hover {
  outline-style: dotted;
  cursor: pointer;
} 

.main-avatar img, .detail-avatar img {
  width: 100%;
}

.clothing {
  position: absolute;
  left: 0;
}

.clothing-area {
  position: absolute;
  pointer-events: all;
}

.clothing-area:hover {
  outline-style: dotted;
  cursor: pointer;
}

.hat-area {
  width: 50%;
  height: 35%;
  top: 3px;
  left: 25%;
}

.scarf-area {
  width: 50%;
  height: 32%;
  top: 67%;
  left: 25%;
}

.earring-area {
  width: 8%;
  height: 18%;
  top: 46%;
  left: 59%;
}

.glasses-area {
  width: 32%;
  height: 14%;
  top: 37%;
  left: 28%;
}

/* Shopping Cart */

#shopping-list {
  width: 75%;
  float: left;
}

#shopping-overview {
  width: 25%;
}

.shopping-item {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
}

.shopping-item > * {
  margin-right: 10px;
}

.shopping-image {
  width: 30%;
  min-width: 350px;
}

.shopping-price {

}

