main {
  width: 100%;
  height: 85%;

  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
  font-weight: bold;
}

.page {
  width: 100%;
  height: 100%;
  background-color: var(--main-grey);
  overflow-y: auto;
}

.page h1 {
  text-align: center;
}

.button-2-1 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);

  width: 49%;
  height: 90%;
}

.button-2-2 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);

  width: 49%;
  height: 45%;
}

.backButton {
  display: block;
  margin-bottom: 10px;
}

.selected {
  display: block;
}

.hidden {
  display: none;
}

/* Shopping Cart */

#shopping-list {
  width: 75%;
  float: left;
}

#shopping-overview {
  width: 25%;
}

.shopping-item {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.shopping-image {
  width: 30%;
  min-width: 350px;
}

.shopping-price {

}

